.cell-item {
    border: 1px aqua dotted;
    width: 62px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.cell-item img {
    align-self: center;
    margin: auto;
    width: 62px;
}

.cell-empty-item {
    background: rgba(20,250,20, 0.3);
}

.cell-hover:hover {
    background: rgba(250,20,20, 0.2);
}