.TradingModal {
    position: absolute;
    top: 15vh;
    left: 10%;
    width: 50%;
    background-color: honeydew;
    border: 3px firebrick solid;
    border-radius: 15px;
}

.TradingForm {
    margin: 10px;
    width: 100%;
    margin-bottom: 10px !important;
}

.ExitButton {
    position: absolute;
    right: -1%;
    top: -3%;
    width: 50px;
}

.TenRightMargin {
    margin-right: 10px;
}

.Dropdown-control {
    height: calc(2.25rem + 2px);
}

.CoursesHolder {
    width: 100%;
    margin-top: 2%;
}

.Course {
    display: inline-block;
    text-align: center;
    width: 25%;
}

.PickHolder {
    text-align: center;
}

.ExchangeLabel {
    display: inline-block;
    margin: 5%;
}