.logo {
    width: 250px;
}

.Modal {
    position: absolute;
    top: 15vh;
    left: 25%;
    width: 50%;
    background-color: honeydew;
    border: 3px firebrick solid;
    border-radius: 15px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.RightBottom {
    bottom: 50px;
    position: absolute;
    right: 50px;
}