.numeric-icon {
    height: 20px;
}

.numeric-container {
    border: 1px solid dimgrey;
    border-radius: 4px;
}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}